
.tabcon {    
    flex-wrap:wrap;
   cursor: pointer;
   font-size: 22px;
   margin: 5px;
   }



.tabcon .sci li {
   list-style:none;
 margin: 5px;
   
   transition: 0.5s;
   opacity: 0;
 display: inline;

}

.tabcon:hover .sci li  {
   transform: translateY(0px);
   opacity: 1;
}

.tabcon .sci li a {
 padding: 5px;
text-decoration: none;
   font-size: 18px;
 border:0.5px solid #e7eaf6 ;
}

