@import url("https://fonts.googleapis.com/css?family=Niramit:300,300i,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Century Gothic";
  background: #1e1e2f;
  letter-spacing: 1px;
}

.container {
  max-width: 650px;
  margin: 50px auto;
}

p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.8;
}
